@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
  margin:0;
  scrollbar-width: thin;
}

:root {
 --bakcground-white: rgb(238, 230, 230);
 --font-yellow: rgb(201, 178, 29);
 --backgroud-orange:rgb(225, 97, 47);
 --backgroud-green:rgb(151, 216, 29);
 --border-gray: rgb(80, 82, 83);
 --font-text: "Roboto", sans-serif;
 margin: 0;
 padding:0

}  

h1{
  margin: 0;
  font-family: var(--font-text);
}