.social-bar {
    transition: transform 0.3s ease-in-out; /* Agrega una transición suave */
  }
  
  .social-bar:hover {
    transform: scale(1.2); 
  }

  /* @media only screen and (max-width: 460px) {
        .social-bar{
            margin: 0;
        }
    } */

   

